@keyframes rotation {
	70% {
		transform: rotate(1860deg)
	}

	to {
		transform: rotate(1867deg)
	}
}

body {
	min-width: 320px;
	margin: 0;
	font-family: Rubik, Arial, Helvetica, sans-serif;
	color: #1c1c1c;
	font-size: 18px
}

h1,
h2,
h3,
h4 {
	font-family: Roboto Slab, Arial, Helvetica, sans-serif
}

img,
video {
	max-width: 100%
}

b {
	font-weight: 600
}

i {
	font-style: italic
}

.container {
	max-width: 1170px;
	margin: 0 auto
}

.wrap {
	padding: 0 20px;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto
}

.header {
	display: block;
	margin-bottom: 20px
}

.data {
	display: none
}

.header-heading {
	position: relative
}

.header-heading-data {
	display: none
}

.header-heading-title {
	padding: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #207742
}

@media (max-width:989px) {
	.header {
		border-bottom: 1px solid #b2b2b2
	}

	.burger,
	.burger::before {
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}

	.burger {
		left: 20px;
		width: 20px;
		height: 14px;
		box-sizing: border-box;
		border-top: 2px solid #1c1c1c;
		border-bottom: 2px solid #1c1c1c
	}

	.burger::before {
		content: "";
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #1c1c1c
	}
}

.nav .wrap {
	padding-left: 0;
	padding-right: 0
}

.nav-list {
	display: none
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 0 0 20px;
	text-align: center;
	min-height: 340px;
	box-sizing: border-box;
	padding: 130px 20px 20px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1c1c1c;
	color: #fff
}

@media (min-width:560px) {
	.main-header {
		background-image: url(../img/header@xl.jpg)
	}
}

@media (min-width:990px) {
	.main-header {
		margin-bottom: 40px
	}
}

.meta,
.sity {
	font-size: 10px;
	line-height: 12px
}

.sity,
h1 {
	text-transform: uppercase;
	color: #fff
}

.sity {
	display: inline-block;
	margin-bottom: 10px;
	padding: 6px 10px;
	background: #207742;
	font-weight: 500;
	border-radius: 5px
}

h1 {
	margin: 0 0 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 25px
}

.meta {
	margin: 0;
	color: #8d8d8d
}

.meta span:first-child {
	padding-right: 4px;
	margin-right: 1px;
	border-right: 1px solid #979797
}

@media (min-width:990px) {

	.sity,
	h1 {
		margin-bottom: 20px
	}

	h1 {
		font-size: 44px;
		line-height: 50px
	}

	.data a,
	.data span,
	.meta,
	.sity {
		font-size: 14px;
		line-height: 17px
	}

	.data {
		display: block;
		border-bottom: 1px solid #b2b2b2
	}

	.data .wrap {
		display: flex;
		justify-content: space-between;
		padding-top: 7px;
		padding-bottom: 7px
	}

	.data a,
	.data span {
		margin-right: 20px;
		transition: opacity .25s ease-in-out
	}

	.data a:hover {
		opacity: .7
	}

	.data a:active {
		opacity: .4
	}

	.data .icon::before {
		width: 16px;
		height: 16px
	}

	.data .icon-calendar::before {
		background-image: url(../img/calendar.svg)
	}

	.data .icon-clock::before {
		background-image: url(../img/clock.svg)
	}

	.data .icon-search::before {
		background-image: url(../img/search.svg)
	}

	.data .icon-fb::before {
		background-image: url(../img/fb.svg)
	}

	.data .icon-tw::before {
		background-image: url(../img/tw.svg)
	}

	.data .icon-yt::before {
		background-image: url(../img/yt.svg)
	}

	.data .icon-inst::before {
		background-image: url(../img/inst.svg)
	}
}

.icon::before {
	content: "";
	display: inline-block;
	vertical-align: text-top;
	margin-right: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center
}

@media (min-width:990px) {
	.header-heading .wrap {
		display: grid;
		grid-template-columns: 1fr 350px 1fr;
		align-items: center
	}

	.header-heading-title {
		font-size: 48px;
		line-height: 55px
	}

	.header-heading-data {
		display: block;
		padding-left: 44px
	}

	.header-heading-data span:first-child {
		display: block;
		font-size: 14px;
		line-height: 17px;
		color: #207742
	}

	.header-heading-data span:last-child {
		font-size: 12px;
		line-height: 14px;
		color: #8d8d8d
	}

	.icon-fm,
	.icon-header-search {
		position: relative;
		padding-top: 4px
	}

	.icon-fm::before,
	.icon-header-search::before {
		background-size: initial;
		position: absolute;
		top: 0;
		left: 0;
		width: 44px;
		height: 44px
	}

	.icon-header-search::before {
		background-image: url(../img/union.svg)
	}

	.icon-fm::before {
		background-image: url(../img/fm.svg)
	}

	.header-heading-data.icon-fm {
		justify-self: flex-end
	}

	.nav {
		min-height: 40px;
		background-color: #1c1c1c;
		color: #fff
	}
}

@media (min-width:1170px) {
	.nav-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style-type: none;
		margin: 0;
		padding: 0
	}

	.nav-item {
		flex-grow: 1
	}

	.nav-item a {
		display: block;
		padding: 12px 18px 11px;
		color: inherit;
		text-decoration: none;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		transition: color .25s ease-in-out
	}

	.nav-list:hover {
		color: rgba(255, 255, 255, .7)
	}

	.nav-item a:hover {
		color: #fff
	}

	.nav-item a:active {
		color: rgba(255, 255, 255, .4)
	}
}

.bg-green {
	background-color: #207742
}

.bg-pink {
	background-color: #ff0060
}

.bg-orange {
	background-color: #f60
}

.title {
	text-transform: initial;
	margin: 0 0 10px;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	font-family: inherit
}

@media (min-width:990px) {
	.title {
		margin-bottom: 20px
	}
}

blockquote {
	margin: 8px 0 10px;
	padding: 10px 10px 10px 7px;
	border-left: 3px solid #207742;
	font-size: 12px;
	font-style: italic;
	line-height: 150%;
	background-color: rgba(32, 119, 65, .1)
}

@media (min-width:990px) {
	blockquote {
		margin: 30px 0 20px;
		padding: 20px 20px 20px 17px;
		font-size: 18px
	}
}

.content {
	margin-bottom: 40px
}

@media (min-width:990px) {
	.content {
		margin-bottom: 80px
	}
}

.content a {
	font-style: italic;
	font-weight: 600;
	color: #207742;
	transition: color .25s ease-in-out
}

.content a:hover {
	color: inherit
}

.content a:active {
	color: rgba(32, 119, 65, .8)
}

.content p {
	margin: 0 0 20px
}

h2 {
	font-size: 16px;
	line-height: 25px;
	text-transform: uppercase
}

@media (min-width:990px) {
	h2 {
		font-size: 26px;
		line-height: 34px
	}
}

.form-block {
	margin: 20px -20px;
	padding: 20px;
	background-color: rgba(32, 119, 65, .1);
	font-size: 12px;
	line-height: 150%
}

.form h4,
.form-block-title {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 21px
}

.form-block .form-block-subtitle {
	margin-bottom: 30px
}

.form-block p {
	margin: 0 0 10px
}

.green {
	color: #207742
}

.form,
.input,
.select {
	width: 100%;
	box-sizing: border-box
}

.form {
	max-width: 330px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px
}

.form h4 {
	margin: 0 0 20px;
	text-align: center
}

.input,
.select {
	display: block;
	margin-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #e9f2ed;
	padding: 13px 15px;
	border: 0;
	border-radius: 5px;
	font-size: 12px;
	line-height: 14px;
	font-family: inherit;
	transition: background-color .25s ease-in-out
}

.input:hover,
.select:hover {
	background-color: #f5f7f6
}

.select {
	background-image: url(../img/select.svg);
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 38px
}

.price {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px
}

.form-block .price {
	margin-top: -10px
}

.price span {
	display: block;
	margin: 0 10px
}

.old {
	position: relative
}

.old::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 1px;
	width: calc(100% + 10px)
}

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	border: 0;
	padding: 15px 25px;
	background-color: #207742;
	font-style: initial !important;
	border-radius: 5px;
	color: #fff !important;
	text-decoration: none;
	font-family: inherit;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	transition: background-color .25s ease-in-out, opacity .25s ease-in-out !important
}

.button:hover {
	background-color: rgba(32, 119, 65, .8)
}

.button:active {
	opacity: .8
}

@media (min-width:990px) {
	.button {
		font-size: 18px;
		line-height: 21px
	}
}

.button-wrap {
	margin-top: 20px;
	display: block
}

.form .button {
	width: 100%
}

.form .form-notes {
	margin: 20px 0 0;
	text-align: center
}

.button-wrap,
.spin-wrap {
	text-align: center
}

.spin {
	width: 280px;
	margin: 0 auto;
	position: relative
}

@media (min-width:1170px) {
	.spin {
		width: 300px
	}
}

.spin-button,
.spin-button::after,
.spin-button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.spin-button {
	border-radius: 50%;
	width: 50px;
	height: 50px
}

.spin-button::after,
.spin-button::before {
	content: ""
}

.spin-button::before {
	width: 100px;
	height: 100px;
	background-image: url(../img/wheel-cursor.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: -1
}

.spin-button::after {
	width: 45px;
	height: 45px;
	border: 1px solid rgba(32, 119, 65, .2);
	box-shadow: 0 0 4px rgba(32, 119, 65, .5);
	border-radius: 50%;
	transition: box-shadow .25s ease-in-out, border .25s ease-in-out
}

.spin-button:not(:disabled):hover::after {
	border: 1px solid rgba(32, 119, 65, .4);
	box-shadow: 0 0 6px rgba(32, 119, 65, .7)
}

.spin-button:not(:disabled):active::after {
	border: 1px solid rgba(32, 119, 65, .1);
	box-shadow: 0 0 3px rgba(32, 119, 65, .3)
}

.rotation {
	animation-name: rotation;
	animation-duration: 7s;
	animation-fill-mode: forwards;
	transition-timing-function: ease-in-out
}

.spin-hide {
	transition: opacity .3s ease-in-out
}

.form-block:not(.spin-end) .spin-hide {
	opacity: 0
}

.new {
	transition: font-size .3s ease-in-out, margin .3s ease-in-out
}

.form-block:not(.spin-end) .new {
	font-size: 0;
	margin: 0
}

.old {
	transition: opacity .3s ease-in-out
}

.form-block.spin-end .old {
	opacity: .5
}

.old::before {
	transition: background-color .3s ease-in-out
}

.form-block.spin-end .old::before {
	background-color: #1c1c1c
}

.buyer-wrap {
	transition: font-size .3s ease-in-out, margin .3s ease-in-out, line-height .3s ease-in-out
}

.form-block:not(.spin-end) .buyer-wrap {
	font-size: 0;
	margin: 0;
	line-height: 0
}

@media (min-width:600px) {
	.form {
		margin: 0
	}

	.spin-wrap {
		margin-right: 30px
	}

	.form-content {
		display: flex;
		width: -moz-fit-content;
		width: fit-content;
		margin: 0 auto
	}
}

@media (min-width:768px) {
	.form-content {
		align-items: flex-start
	}

	.form-block-title {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 20px
	}

	.form-block .form-block-subtitle {
		margin-bottom: 0
	}

	.form-block {
		padding: 30px 30px 36px;
		font-size: 18px
	}

	.form {
		padding-bottom: 30px
	}

	.form h4 {
		font-size: 26px;
		line-height: 34px
	}

	.input,
	.select {
		font-size: 18px;
		line-height: 21px
	}

	.price {
		font-size: 44px;
		line-height: 58px
	}
}

.comments-list {
	margin-bottom: 20px
}

.comments-item {
	padding: 10px;
	background-color: rgba(32, 119, 66, .1)
}

.comments-item:not(:last-child) {
	margin-bottom: 10px
}

.comments-ava {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 50%
}

.comments-item .name {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px
}

.comments-item .date {
	font-size: 10px;
	line-height: 12px;
	color: rgba(28, 28, 28, .5)
}

.comments-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 3px;
	margin-left: 40px
}

.comments-body {
	margin-left: 40px
}

.comments-body p {
	margin: 0;
	font-size: 12px;
	line-height: 14px
}

@media (min-width:600px) {
	.comments-list {
		margin-bottom: 40px
	}

	.comments-item {
		padding: 20px
	}

	.comments-item:not(:last-child) {
		margin-bottom: 20px
	}

	.comments-ava {
		width: 60px;
		height: 60px;
		margin-right: 20px
	}

	.comments-body p,
	.comments-item .name {
		font-size: 18px;
		line-height: 21px
	}

	.comments-item .date {
		font-size: 14px;
		line-height: 17px
	}

	.comments-header {
		margin-bottom: 10px;
		margin-left: 80px
	}

	.comments-body {
		margin-left: 80px
	}

	.comments-body p {
		margin: 0 0 10px
	}
}

.aside {
	display: none
}

@media (min-width:1024px) {
	.aside {
		display: block
	}

	.aside h2 {
		margin: 0 0 20px
	}

	.main {
		display: grid;
		grid-template-columns: 1fr 370px;
		-moz-column-gap: 30px;
		column-gap: 30px
	}

	.main-header {
		grid-column-end: -1;
		grid-column-start: 1
	}

	.aside-block {
		text-decoration: none;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid #b2b2b2;
		transition: opacity .25s ease-in-out
	}

	.aside-block:hover {
		opacity: .8
	}

	.aside-block:active {
		opacity: .6
	}

	.aside-block,
	.aside-block img {
		display: block;
		margin-bottom: 20px
	}

	.aside-block h3 {
		margin: 0;
		font-size: 20px;
		line-height: 24px;
		color: #207742
	}

	.aside-block .meta,
	.aside-block h3 {
		padding: 0 20px 20px
	}
}
